@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.flower1 {
    position: relative;
    display: inline-block;
    width: 25%;
    min-width: 200px;
    flex-shrink: 0;
}

.flower1 .static {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
  
.flower1:hover .static {
    display: inline-block;
}

.flowerbee {
    position: relative;
    display: inline-block;
    width: 25%;
    min-width: 200px;
    flex-shrink: 0;
}

.flowerbee .static {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
  
.flowerbee:hover .static {
    display: inline-block;
}

.flowerbee:hover + .bigtext {
    display: flex;
    top: 0;
    text-align: center;
}

.bigtext {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 5vw;
    margin-left: 30vw;
    display: none;
    position: absolute;
    position: fixed;
}

.flowers {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
}

.field {
    background-image: url('https://www.dropbox.com/scl/fi/07wxe69jprvl6hq7c4and/flowerfield.jpg?rlkey=bqgueibw7lmbjwdlvh1f0lfx7&st=kulqwnxh&raw=1');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-end;
}

@media (min-width: 900px) {
    .flower1 {
       overflow-x: visible;
    }
  
    .flower1 > div {
      flex-basis: 0;
      flex-grow: 1;
     }

     .flowerbee {
        overflow-x: visible;
     }
   
     .flowerbee > div {
       flex-basis: 0;
       flex-grow: 1;
      }
}

@media (max-width: 600px) {
    .bigtext {
        margin-left: 50vw;
        position: fixed;
    }
}